.top-bar {
    height: 44px;
    width: 100vw;
    background-color: white;
    color: #5b5f66;
    
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 56px;
    border-bottom: 2px solid #e0e0e0;
  }
  
  .top-bar.dark {
    background-color: #1f1f1f;
    color: white;
    border-bottom-color: #343a40;
  }
  
  .brand-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .workspace {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }
  
  .arrow-icon {
    font-size: 24px;
    margin-left: 12px;
  }